* {
    margin: 0;
    padding: 0
}

.wrapper {
    background-color: #ddd; 
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.wrapper.active{
    display: block;
}

ul,ol {
    list-style: none;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid #dedede;
}

body {
    background-color: #efefef;
}

a {
    color: inherit;
    text-decoration: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both
}

header {
    padding: 16px 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 32px);
    font-size: 24px;
    font-family: "Arial Black";
    transition: all 0.8s;
    color: #b7b7b7;    
}

header.sticky {
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
    padding: 10px 16px;
    color: #3d4451;
    height: 33px;
    line-height: 27px;
}

header>nav>ul {
    list-style: none;
}

header>nav>ul>li {
    float: left;
    margin: 0 17px;
    position: relative;
}

header>nav>ul>li>a {
    font-size: 12px;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    padding-bottom: 2px;
    position: relative;
}

[data-section].offset {
    transform: translateY(100px);
    opacity: 0;
}

[data-section] {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s;
}

@keyframes slideUp {
    0% {
        transform: translateY(100px)
    }
    100% {
        transform: translate(0)
    }
}

header>nav>ul>li.active>a::after,
header>nav>ul>li.highlight>a::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #e06567;
    height: 3px;
    animation: menuSlide 0.3s;
}

@keyframes menuSlide {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

header>nav>ul>li>ul.submenu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    white-space: nowrap;
    font-size: 12px;
    background-color: white;
    color: #3d4451;
    animation: submenuSlide 0.3s; 
    box-shadow: 0 0 5px rgba(0,0,0,0.5)       
}

@keyframes submenuSlide {
    0% {
        right: 100%;
    }
    100% {
        right: 0%;
    }
}
header>nav>ul>li.active>ul.submenu {
    display: block;
}

header>nav>ul>li>ul.submenu>li {
    padding: 5px 10px;
}

header .rs {
    color: #e8676b;
    margin-right: 4px;    
}
header .card {
    color: #b7b7b7;
}

.banner {
    height: 515px;
    background-image: url('../img/rs-cover.jpg');
    background-position: center center;
    background-size: cover;
}
.banner>.mask {
    height: 515px;
    background-color: rgb(0,0,0,0.8);
}

.user-card {
    max-width: 960px;
    margin: 0 auto;
    border: 1px solid red;
    background-color: #fff;
    box-shadow: 0px 1px 4px 0px rgba(82,76,82,0.63);
}

.user-card .welcome {
    background-color: #e8676b;
    color: white;
    padding: 4px 10px;
    line-height: 22px;
    display: inline-block;
    position: relative;
    margin-bottom: 30px; 
}

.user-card .welcome .triangle {
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-top-width: 0px;
    border-left-color:   #e8676b;
    position: absolute;
    top: 100%;
    left: 4px;
}

.user-card .picture, .user-card .text {
    float: left;
}

.picture-and-text {
    padding: 50px;
}

.user-card .text {
    margin-left: 65px;
    width: 470px;
}
.user-card .text hr{
    margin: 20px 0;
}

.user-card .text h1{
    margin-bottom: 12px;
}

.user-card dl dd {
    float: left;
    width: 70%;
    padding: 5px 0;
    color: #9da0a7;
}

.user-card dl dt {
    float: left;
    width: 30%;
    padding: 5px 0;
    font-weight: bold;   
}

.user-card footer {
    background-color: #e8676b;
    text-align: center;
}
.user-card footer svg{
    width: 25px;
    height: 25px;
    vertical-align: middle;
    fill: white;
    padding: 2.5px 0;
}

.user-card footer a {
    /* border: 1px solid black; */
    display: inline-block;
    line-height: 23px;
    width: 35px;
    border-radius: 50%;
    margin: 16px
}

.user-card footer a:hover {
    background-color: #cf5d5f;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }

 section.about {
     margin-top:-355px;
 }

 .download-resume {
     font-size: 14px;
 }

 .download-resume-wrapper {
     text-align: center;
 }
 .download-resume {
     line-height: 16px;
     padding: 21px 55px;
     border: 1px solid #cdcfd1;
     display: inline-block;
     font-weight: bold;
     color:#3d4451;
     border-radius: 2px;
     margin-top: 85px; 
     transition: all 0.5s;    
 }

 .download-resume:hover {
    box-shadow: 0px 4px 13px 0px rgba(82,76,82,0.2);
 }

 .self-introduction {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    font-family: 'STKaiti';
    font-size: 18px;
 }

.skills, .portfolio, .message, .slide-in{
    max-width: 960px;
    margin: 0 auto;
    margin-top: 60px;  
}

.skills > h2,
.portfolio > h2, .message > h2 {
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
}

.skills ul {
    background-color: #fff;
    box-shadow: 0px 1px 4px 0px rgba(82,76,82,0.63);
    padding: 42px 50px 10px;
    margin-top: 30px; 
}

.skills ul li {
    width: 48%;
    float: left;
}

.skills ul li:nth-of-type(2n) {
    float: right;
}

.skills  h3 {
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
    font-weight: normal;
}

.skills .progress-bar {
    height: 5px;
    background-color: #fae1e1;
    border-radius: 2px;
    margin: 4px 0 40px;  
    overflow: hidden;
}

.skills .progress-bar> .progress {
    height: 100%;
    background-color: #e8676b;
    width: 70%;
    border-radius: 2px;
    transform: translateX(0);
    /* display: none; */
    transition: all 1s;
}

.skills.offset .progress-bar > .progress {
    transform: translateX(-100%);
    /* display: block */
}

.portfolio {
    text-align: center;
}

.portfolio nav {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-top: 30px;
}

.portfolio nav ul {
    display: inline-block;
    vertical-align: top;
}

.portfolio nav ul li {
    float: left;
    margin-left: 20px;
}

.portfolio nav ul li:nth-of-type(1) {
    margin-left: 0;
}

.portfolio nav .bar {
    background-color: white;
    height: 5px;
    margin-top: 10px;
    margin-bottom: 28px;
    border-radius: 2px;
}

.portfolio nav .bar .bar-inner {
    background-color: #e8676b;
    height: 100%;
    transition: all 0.3s;
}

.portfolio nav .bar.state-1 .bar-inner {
    width: 44px;
    border-radius: 2px;    
}

.portfolio nav .bar.state-2 .bar-inner {
    width: 44px;
    border-radius: 2px;    
    margin-left: 49px; 
}

.portfolio nav .bar.state-3 .bar-inner {
    width: 87px;
    border-radius: 2px;    
    margin-left: 107px; 
}

.portfolio .works {
    position: relative;
    height: 600px;
    margin-bottom: 100px;
    box-shadow: 0px 1px 4px 0px rgba(82,76,82,0.63);
}

.portfolio .works .big,
.portfolio .works .small1,
.portfolio .works .small2{
    position: absolute;
}

.portfolio .works .small1 {
    top: 0px;
    left: 640px;
}

.portfolio .works .small2 {
    left: 640px;
    top: 320px;
}

.swiper-container {
    width: 668px;
    height: 501px;
}

.portfolio .swiper-button-prev, .portfolio .swiper-button-next {
    background-color: #fff;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-top: 0;
    top: 57%;
    outline: none;
}

.slide-in {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-in > .img-wrap {
    padding: 0 10px;
}

.slide-in > .img-wrap.img1 {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.3s 0 ease-in-out
}

.slide-in > .img-wrap.img2 {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.3s 0.2s ease-in-out
}

.slide-in > .img-wrap.img3 {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.3s 0.4s ease-in-out
}

.slide-in.offset > .img-wrap.img1, .slide-in.offset > .img-wrap.img2, .slide-in.offset > .img-wrap.img3 {
    transform: translateY(100px);
    opacity: 0;
}

.message > ul {
    max-width: 700px;
    margin: 30px auto;
    border-top: 1px solid #ddd;
    height: 500px;
}

.message > ul > li {
    border-bottom: 1px solid #ddd;
    padding: 16px;
}

.postMessageForm {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
}