* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.token.selector, .token.property, .token.function {
    color: black;
}

#code {
    height: 100vh;
    overflow: hidden;
}
